   /*=======================Basic ssetting=========================*/

  html, body {
    width: 100%;
    height: 100%;
  }

  body {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
  }



  ul, ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  a, a:hover, a:focus {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  h2 {
    margin-bottom: 75px ;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px ;
  }

  .container {
    width: 85%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
  }

  section {
    padding: 100px 0;
  }

  .clearfix::after {
    content: '';
    display: table;
    clear: both;
  } /*清除子元素的浮動效果 讓父元素能夠包含在整個區塊裡面*/


/*======================= footer ==========================*/

